html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}
@media (max-width: 500px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
body header {
  width: 100%;
  text-align: center;
  height: 100%;
}
body header nav {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
@media (max-width: 500px) {
  body header nav {
    width: 100%;
    display: flex;
  }
}
body header nav a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
body header nav #home {
  font-weight: 80%;
  border-right: 1px solid black;
  padding: 0 1rem;
}
body header nav #about {
  border-right: 1px solid black;
  padding: 0 1rem;
}
body header nav #contact {
  padding: 0 1rem;
}
body header .header-img-container img {
  width: 70%;
  height: 30%;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  body header .header-img-container img {
    width: 100%;
  }
}
body header .header-img-container .title-container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  width: 30%;
}
@media (max-width: 500px) {
  body header .header-img-container .title-container {
    flex-flow: column wrap;
    width: 50%;
    font-size: 3rem;
    color: white;
    transform: translate(-7.5rem, -11rem);
  }
}
body header .header-img-container .title-container button {
  width: 13rem;
  height: 3rem;
  font-size: 1.5rem;
  color: #414141;
}
@media (max-width: 500px) {
  body header .header-img-container .title-container button {
    margin-top: 3rem;
    margin-left: 1rem;
  }
}
html {
  font-family: "Raleway", sans-serif;
  height: 100vh;
}
html .container {
  width: 70%;
  margin: 0 auto;
}
html .container .artists-container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}
html .container .artists-container .artist {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
  flex-basis: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  html .container .artists-container .artist {
    margin-bottom: 3rem;
  }
}
html .container .artists-container .artist .img-container {
  flex-basis: 100%;
}
html .container .artists-container .artist .img-container img {
  border-radius: 0.3rem;
  width: 22rem;
  height: 18rem;
  text-align: center;
  flex-basis: 100%;
}
html .container .artists-container .artist .img-container img:hover {
  opacity: 0.7;
}
html .container .artists-container .artist a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  flex-basis: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
